Repository Muhammed-Rahif/Notpad, pull requests merged in 2021-12, with the labels that each got.

#9 feat: enable tab indentation in 'TextArea'
  src/components/TextArea/TextArea.tsx
  src/helpers/index.ts
Labels: enhancement, components

#10 test: add test cases for 'TextArea'
  src/components/TextArea/TextArea.tsx
  src/tests/App.test.tsx
  src/tests/TextArea.test.tsx
Labels: components, test

#11 feat: added exit button to menu bar
  src/components/MenuBar/MenuBar.tsx
Labels: enhancement, components

#12 feat(component): created 'AlertBox' with contexts
  src/App.tsx
  src/components/AlertBox/AlertBox.scss
  src/components/AlertBox/AlertBox.tsx
  src/components/MenuBar/MenuBar.tsx
  src/contexts/Context.tsx
  src/index.tsx
  src/types/AlertBox.d.ts
Labels: enhancement, components, ts-types

#14 fix(dependencies): dependencies updates
  package.json
  yarn.lock
Labels: dependencies

#15 test(config): tests config with jest, junit
  .gitignore
  babel.config.js
  jest.config.js
  package.json
  src/components/AlertBox/AlertBox.tsx
  yarn.lock
Labels: tests, dependencies, components

#16 test(workflow): created tests running workflow
  .github/workflows/tests.yml
  package.json
Labels: gh-actions, tests

#17 chore(workflow): created 'test-report.yml'
  .github/workflows/test-report.yml
  package.json
Labels: gh-actions, tests

#18 style: code files prettified
  .github/workflows/test-coverage.yml
  .github/workflows/test-report.yml
Labels: gh-actions, code-styling

#19 style: code files prettified
  .github/workflows/jest-coverage.yml
Labels: gh-actions, code-styling

#20 test: added test cases for 'AlertBox' component
  src/components/AlertBox/AlertBox.tsx
  src/tests/AlertBox.test.tsx
  src/tests/App.test.tsx
Labels: tests, components

#21 test: add test cases for 'AlertBox'
  src/components/AlertBox/AlertBox.tsx
  src/tests/AlertBox.test.tsx
Labels: tests, components

#22 style: code files prettified
  .github/workflows/deploy.yml
Labels: gh-actions, code-styling

#23 Revert "style: code files prettified"
  .github/workflows/deploy.yml
Labels: gh-actions

#24 style: code files prettified
  .github/workflows/deploy.yml
Labels: gh-actions, code-styling

#26 style: code files prettified
  CODE_OF_CONDUCT.md
Labels: code-styling

#28 chore(workflows): update deploy command in 'deploy.yml'
  .github/workflows/deploy.yml
Labels: gh-actions

#27 style: code files prettified
  .github/workflows/deploy.yml
Labels: gh-actions, code-styling

#29 Create upgrade-dependencies.yml
  .github/workflows/code-styling.yml
  .github/workflows/upgrade-dependencies.yml
Labels: gh-actions

#31 chore(dependencies): upgrade dependencies
  package.json
  yarn.lock
Labels: dependencies

#30 style: code files prettified
  .github/workflows/upgrade-dependencies.yml
Labels: gh-actions, code-styling

#33 test: added one more test case for 'TextArea'
  src/components/TextArea/TextArea.tsx
  src/tests/TextArea.test.tsx
Labels: tests, components

#34 feat: created basic shortcuts
  package.json
  src/App.tsx
  src/components/MenuBar/MenuBar.tsx
  src/components/Shortcuts/ShortCuts.tsx
  src/components/TextArea/TextArea.tsx
  src/helpers/index.ts
  yarn.lock
Labels: dependencies, components

#36 feat: menu bar buttons actions added
  src/components/MenuBar/MenuBar.tsx
  src/helpers/index.ts
Labels: components

#37 chore(dependencies): upgrade dependencies
  package.json
  yarn.lock
Labels: dependencies

#41 chore(dependencies): upgrade dependencies
  yarn.lock
Labels: dependencies

#42 Created README.md
  README.md
Labels: documentation

#45 chore(workflows): change trigger event in 'test-report.yml'
  .github/workflows/test-coverage.yml
  .github/workflows/test-report.yml
Labels: gh-actions

#44 Patch 1 - README edits
  README.md
Labels: documentation

#46 style: code files prettified
  README.md
Labels: code-styling

#50 chore(dependencies): upgrade dependencies
  yarn.lock
Labels: dependencies

#51 chore(workflows): create workflow for codeql-analysis
  .github/workflows/codeql-analysis.yml
Labels: gh-actions

#52 style: code files prettified
  .github/workflows/codeql-analysis.yml
Labels: gh-actions, code-styling

#55 chore(workflows): create 'toc-generator.yml'
  .github/workflows/toc-generator.yml
  README.md
Labels: gh-actions

#56 style: code files prettified
  README.md
Labels: code-styling

#57 docs(readme): update readme contents
  README.md
Labels: documentation

#58 style: code files prettified
  .github/labeler.yml
  .github/workflows/toc-generator.yml
  README.md
Labels: documentation, gh-actions, code-styling

#59 docs(readme): added about section contents in readme
  README.md
Labels: documentation
