Repository Muhammed-Rahif/Notpad, pull requests merged in 2022-01, with the labels that each got.

#69 fix(meta-tag): update image meta tag in 'index.html'
  public/index.html
Labels: bug

#70 chore(dependencies): upgrade dependencies
  package.json
  yarn.lock
Labels: dependencies

#71 feat(dark-mode): add toggling dark mode feature using css variables
  src/App.scss
  src/App.tsx
  src/components/AlertBox/AlertBox.scss
  src/components/MenuBar/MenuBar.scss
  src/components/MenuBar/MenuBar.tsx
  src/components/TextArea/TextArea.scss
  src/components/TitleBar/TitleBar.scss
  src/helpers/index.ts
  src/index.scss
Labels: enhancement, components

#73 chore(dependencies): upgrade dependencies
  package.json
  yarn.lock
Labels: dependencies

#75 chore(dependencies): upgrade dependencies
  package.json
  yarn.lock
Labels: dependencies

#77 style: code files prettified
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: code-styling

#78 fix: ui height issues in textarea
  src/components/TextArea/TextArea.scss
  src/index.scss
  src/tests/App.test.tsx
Labels: bug, components

#81 feat: save the textarea contents to 'localStorage' instantly each time the textarea content changes #54
  src/components/TextArea/TextArea.tsx
  src/helpers/index.ts
Labels: enhancement, components

#82 style: code files prettified
  src/components/TextArea/TextArea.tsx
  src/helpers/index.ts
Labels: code-styling, components

#86 Service worker registered
  src/index.tsx
Labels: enhancement

#88 Full Screen Feature Added
  jest.config.js
  package.json
  src/components/TitleBar/TitleBar.tsx
Labels: enhancement, components

#89 style: code files prettified
  src/components/TitleBar/TitleBar.tsx
  yarn.lock
Labels: code-styling, dependencies, components

#91 chore(dependencies): upgrade dependencies
  package.json
  yarn.lock
Labels: dependencies

#80 feat: create drawpad component with contexts
  package.json
  src/App.scss
  src/App.tsx
  src/components/DrawPad/DrawPad.scss
  src/components/DrawPad/DrawPad.tsx
  src/components/MenuBar/MenuBar.tsx
  src/components/MenuBar/MenuItems/Edit.tsx
  src/components/MenuBar/MenuItems/File.tsx
  src/components/MenuBar/MenuItems/Help.tsx
  src/components/MenuBar/MenuItems/Mode.tsx
  src/components/MenuBar/MenuItems/View.tsx
  src/components/Shortcuts/Shortcuts.tsx
  src/components/TextArea/TextArea.scss
  src/components/TextArea/TextArea.tsx
  src/components/TitleBar/TitleBar.tsx
  src/components/WorkArea/WorkArea.scss
  src/components/WorkArea/WorkArea.tsx
  src/contexts/Context.tsx
  src/helpers/index.ts
  src/hooks/useWindowSize.tsx
  src/index.scss
  src/tests/App.test.tsx
  src/tests/TextArea.test.tsx
  src/types/DrawPad.d.ts
  yarn.lock
Labels: enhancement, dependencies, components, ts-types, awaiting-review

#98 fix: change details-tab's `postion` to 'fixed' from 'sticky'
  src/components/WorkArea/WorkArea.scss
Labels: bug, components

#102 chore(dependencies): upgrade dependencies
  yarn.lock
Labels: dependencies

#103 style: code files prettified
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: code-styling

#104 Github link added
  src/components/MenuBar/MenuItems/Help.tsx
  src/helpers/index.ts
Labels: enhancement, components

#105 style: code files prettified
  src/components/MenuBar/MenuItems/Help.tsx
  src/helpers/index.ts
Labels: code-styling, components

#109 chore(dependencies): upgrade dependencies
  yarn.lock
Labels: dependencies

#111 feat(font): customizing font
  README.md
  src/App.scss
  src/components/AlertBox/AlertBox.scss
  src/components/MenuBar/MenuBar.scss
  src/components/MenuBar/MenuItems/ChangeFontBody.tsx
  src/components/MenuBar/MenuItems/Edit.tsx
  src/components/MenuBar/MenuItems/File.tsx
  src/components/MenuBar/MenuItems/Help.tsx
  src/components/MenuBar/MenuItems/Mode.tsx
  src/components/MenuBar/MenuItems/View.tsx
  src/components/TitleBar/TitleBar.scss
  src/components/TitleBar/TitleBar.tsx
  src/helpers/index.ts
  src/index.scss
  src/types/AlertBox.d.ts
  src/utils/fonts.ts
Labels: documentation, components, ts-types

#116 fix(cname): cname file issue on production
  public/CNAME
  src/components/TextArea/TextArea.scss
Labels: bug

#117 fix(fonts): fix font settings always in default
  src/components/DrawPad/DrawPad.scss
  src/components/MenuBar/MenuItems/ChangeFontBody.tsx
Labels: components

#118 fix(warning): react-hooks/exhaustive-deps warning
  src/components/MenuBar/MenuItems/ChangeFontBody.tsx
Labels: components

#119 chore(dependencies): upgrade dependencies
  package.json
  yarn.lock
Labels: dependencies

#120 refactor: changed the production url
  README.md
  public/index.html
Labels: documentation

#123 style: code files prettified
  yarn.lock
Labels: code-styling, dependencies

#127 fix: font size changes restoring when changing from draw mode to text editor mode
  src/App.tsx
  src/components/TextArea/TextArea.tsx
  src/helpers/index.ts
Labels: bug, components, priority: high

#128 Test cases helper and dark mode
  src/tests/Helpers.test.ts
  src/tests/View.test.tsx
Labels: tests
