Repository Muhammed-Rahif/Notpad, pull requests merged in 2024-12, with the labels that each got.

#249 Added word counter
  src/lib/components/Editor/Editor.svelte
  src/lib/components/StatusBar.svelte
  src/lib/components/font-dialog/FontDialog.svelte
  src/lib/components/ui/dialog/dialog-header.svelte
Labels: enhancement

#252 Feature: Updated limit for title of text files
  src/lib/components/DownloadMenuButton.svelte
  src/lib/components/EditorTabs.svelte
  src/lib/components/EditorTitle.svelte
  src/lib/components/MenuBar.svelte
Labels: enhancement

#255 Migrate from npm to pnpm
  .github/workflows/gh-pages.yml
  .github/workflows/prettier.yml
  .github/workflows/semantic-release.yml
  .vscode/launch.json
  README.md
  package-lock.json
  package.json
  src-tauri/tauri.conf.json
Labels: dependencies

#257 Add greetings workflow
  .github/workflows/greetings.yml
Labels: gh-actions

#269 Add Inconsolata and Parkinsans Font
  src/assets/css/fonts.css
  src/assets/fonts/Inconsolata-VariableFont.ttf
  src/assets/fonts/Parkinsans-VariableFont.ttf
  src/lib/types/SettingsTypes.ts
Labels: enhancement

#272 feat(Confirmation-Popup): Add SaveAndQuit functionality
  components.json
  package.json
  pnpm-lock.yaml
  src/App.svelte
  src/lib/components/Editor/Editor.svelte
  src/lib/components/EditorCloseConfirmationDialog.svelte
  src/lib/components/EditorTabs.svelte
  src/lib/components/EditorTitle.svelte
  src/lib/components/ui/alert-dialog/alert-dialog-action.svelte
  src/lib/components/ui/alert-dialog/alert-dialog-cancel.svelte
  src/lib/components/ui/alert-dialog/alert-dialog-content.svelte
  src/lib/components/ui/alert-dialog/alert-dialog-description.svelte
  src/lib/components/ui/alert-dialog/alert-dialog-footer.svelte
  src/lib/components/ui/alert-dialog/alert-dialog-header.svelte
  src/lib/components/ui/alert-dialog/alert-dialog-overlay.svelte
  src/lib/components/ui/alert-dialog/alert-dialog-portal.svelte
  src/lib/components/ui/alert-dialog/alert-dialog-title.svelte
  src/lib/components/ui/alert-dialog/index.ts
  src/lib/components/ui/button/button.svelte
  src/lib/components/ui/button/index.ts
  src/lib/helpers/editors.ts
  src/lib/helpers/menubar/file-options.ts
  src/lib/types/EditorTypes.ts
Labels: awaiting-review

#280 feat(head): Add SEO meta tags for better search optimization
  index.html
Labels: awaiting-review
