Repository Muhammed-Rahif/Notpad, pull requests merged in 2024-10, with the labels that each got.

#188 Feature: menu bar files options functionalities
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  eslint.config.js
  package-lock.json
  package.json
  pwa-assets.config.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/App.svelte
  src/app.css
  src/lib/components/EditorTitle.svelte
  src/lib/components/Editors.svelte
  src/lib/components/MenuBar.svelte
  src/lib/components/Shortcuts.svelte
  src/lib/components/ui/alert-dialog/alert-dialog-portal.svelte
  src/lib/components/ui/alert-dialog/index.ts
  src/lib/components/ui/button/index.ts
  src/lib/components/ui/menubar/index.ts
  src/lib/components/ui/separator/index.ts
  src/lib/components/ui/sonner/index.ts
  src/lib/components/ui/tabs/index.ts
  src/lib/components/ui/textarea/index.ts
  src/lib/components/ui/textarea/textarea.svelte
  src/lib/components/ui/tooltip/index.ts
  src/lib/components/ui/tooltip/tooltip-content.svelte
  src/lib/helpers/editors.ts
  src/lib/helpers/file-options.ts
  src/lib/helpers/notpad.ts
  src/lib/store/index.ts
  src/lib/store/storage.ts
  src/lib/store/store.ts
  svelte.config.js
  tailwind.config.ts
Labels: enhancement, hacktoberfest, hacktoberfest-accepted

#192 Feature: Add character count feature to textarea
  src/App.svelte
  src/lib/components/Editors.svelte
  src/lib/components/MenuBar.svelte
  src/lib/components/StatusBar.svelte
  src/lib/components/ui/menubar/menubar-checkbox-item.svelte
  src/lib/components/ui/menubar/menubar-radio-item.svelte
  src/lib/components/ui/textarea/textarea.svelte
Labels: enhancement, hacktoberfest, hacktoberfest-accepted

#187 View options: Fullscreen
  package-lock.json
  package.json
  src/lib/components/MenuBar.svelte
Labels: enhancement, hacktoberfest, hacktoberfest-accepted

#196 Fixed the darkmode bug
  .github/workflows/prettier.yml
  src/lib/components/MenuBar.svelte
Labels: bug, priority: low, hacktoberfest, hacktoberfest-accepted

#204 Menubar -> Help -> About
  package-lock.json
  package.json
  src/App.svelte
  src/assets/images/Notpad Logo Dark.svg
  src/assets/images/Notpad Logo Light.svg
  src/assets/images/favicon-dark.png
  src/assets/images/favicon.png
  src/assets/imgs/Notpad Logo Dark.svg
  src/assets/imgs/Notpad Logo Light.svg
  src/lib/components/AboutDialog.svelte
  src/lib/components/EditorTabs.svelte
  src/lib/components/LicenseDialog.svelte
  src/lib/components/MenuBar.svelte
  src/lib/components/font-dialog/FontDialog.svelte
  src/lib/components/font-dialog/FontFamilyCombobox.svelte
  src/lib/components/font-dialog/FontSizeCombobox.svelte
  src/lib/components/icons/Check.svelte
  src/lib/components/icons/ChevronsUpDown.svelte
  src/lib/components/icons/Close.svelte
  src/lib/components/icons/GItHub.svelte
  src/lib/components/ui/alert-dialog/alert-dialog-about.svelte
  src/lib/components/ui/badge/badge.svelte
  src/lib/components/ui/badge/index.ts
  src/lib/helpers/github-api.ts
  src/lib/helpers/notpad.ts
  src/vite-env.d.ts
  vite.config.ts
Labels: enhancement, priority: high, hacktoberfest, hacktoberfest-accepted
